@import "tailwindcss";

@keyframes pulse-scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}



@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/public/fonts/29lt-riwaya-regular.ttf') format('truetype');
}


.animate-pulse-scale {
  animation: pulse-scale 2s infinite ease-in-out;
} 

