@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Regular.woff2') format('woff2'),
        url('HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Riwaya';
    src: url('29LTRiwaya-Regular.woff2') format('woff2'),
        url('29LTRiwaya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

