---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout title="Sobre mí">
  <section class="w-full min-h-screen flex flex-col">
    <!-- Bloque 1: Imagen izquierda - Texto derecha -->
    <div class="flex flex-col md:flex-row items-center w-full min-h-screen bg-[#fdf2f2]">
      <!-- Imagen -->
      <div class="md:w-1/2 w-full h-64 md:h-full">
        <img src={`${import.meta.env.BASE_URL}9.jpeg`} alt="Foto de Mica entrenando" class="w-full h-full object-cover" />
      </div>
      <!-- Texto -->
      <div class="md:w-1/2 w-full p-8 md:p-16 text-gray-800">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Mi historia</h2>
        <p class="text-lg leading-relaxed">
          Desde pequeña que el entrenamiento es parte de mi vida. Primero comenzó con el deporte,
          handball me acompañó muchos años y me dejó la disciplina y el compromiso con mi cuerpo
          y el movimiento. <br /><br />
          Después el entrenamiento en gimnasio o casa fue y es el hábito que hoy me acompaña.
          Siempre dando lo mejor de mí pero sabiendo escuchar mi cuerpo.
          Entrenar me hace sentir fuerte, poderosa y sana. Es mi hábito y mi estilo de vida.
        </p>
      </div>
    </div>

    <!-- Bloque 2: Texto izquierda - Video derecha -->
    <div class="flex flex-col md:flex-row items-center w-full min-h-screen bg-[#fff]">
      <!-- Texto -->
      <div class="md:w-1/2 w-full p-8 md:p-16 text-gray-800">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Mi propósito</h2>
        <p class="text-lg leading-relaxed">
          Me di cuenta que me gustaba motivar e invitar a más personas a este estilo de vida
          de cuidado personal y superación.<br /><br />
          Quiero llegar a más mujeres, enseñarles a nutrir su cuerpo, a tener una relación
          hermosa con la comida, nutritiva pero flexible. Este estilo de vida me ayudó a
          respetarme, a entender mis momentos. Estar acompañada y bien informada es algo muy
          valioso. <br /><br />
          ¡Ojalá te motive para formar parte del team y juntas logremos mucho! ❤️
        </p>
      </div>
      <!-- Video -->
      <div class="md:w-1/2 w-full h-64 md:h-full">
        <video  autoplay
  muted
  loop
  playsinline
          src={`${import.meta.env.BASE_URL}12.mp4`}
          
          class="w-full h-full object-cover"
        ></video>
      </div>
    </div>
  </section>
</BaseLayout>
